{% extends 'base.html.twig' %}

{% block title %}Заявки{% endblock %}

{% block body %}
<style>
 
</style>

<div class="container m-5">
    <div class="row">
        <div class="col-sm-6">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Остаток</th>
                    <th scope="col">Добавить в заказ</th>
                </tr>
                </thead>
                <tbody>
                {% for item in stock %}
                    <tr>
                        <td>{{ item.product }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>
                            <div class="input-group">
                                <input type="number" class="form-control" placeholder="Количество" min="1">
                                <button class="btn btn-success fn_add" type="submit" data-path="/order/{{ item.id }}">Добавить</button> 
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-6">
                <table class="table" id="order_data">
                    <thead>
                        <tr>
                            <th scope="col">Название</th>
                            <th scope="col">Количество</th>
                            <th scope="col">Цена</th>
                            <th scope="col">Сумма</th>
                        </tr>
                    </thead>

                    <tbody>
                    </tbody>

                </table>
            </div>
        </div>
        
        <div class="input-group mb-6" id="orderplace" style="display: none">
            <span class="input-group-text">Номер заказа:</span>
            <input readonly value="{{ uuid }}" class="order_id form-control">
            <button class="btn btn-success fn_order" type="submit" data-path="/order/place">Заказать</button> 
            <button class="btn btn-danger fn_cancel" type="button" data-path="/order/cancel">Отменить</button>
        </div>
   </div>
</div>


{% endblock %}