{% extends 'base.html.twig' %}

{% block title %}Отгрузки{% endblock %}

{% block body %}
<style>
 
</style>

<div class="container m-5">

    <div class = "h4">Выберите номер поставки:</div>
    
    <div class="form-group">
        <select id="shipid" class="form-control" data-path="/shipment">
            {% for item in shipments %}
                <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>
    </div>

    <table class="table" id="ship_data">
        <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Количество</th>
                <th scope="col">Цена исходящая</th>
                <th scope="col">Сумма исходящая</th>
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
   
</div>
{% endblock %}