{% extends 'base.html.twig' %}

{% block title %}Склад{% endblock %}

{% block body %}
<style>
 
</style>

<div class="container m-5">

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Остаток</th>
                <th scope="col">Цена</th>
            </tr>
            </thead>
            <tbody>
            {% for item in stock %}
                <tr>
                    <td>{{ item.product }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.cost }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
   
</div>
{% endblock %}